*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
}
#title_top{
	text-align: center;
}
#header{
	background-color: #e2eefe;
	padding:5px;
	box-shadow: 2px 2px 15px grey;
	margin-bottom: 10px;
}
.container1{
	background-color: #fef1f3;
	max-width: 50cm;
	min-height: 10cm;
	padding:10px;
	margin:auto;
	box-shadow: 2px 2px 15px grey;
	margin-bottom: 10px;
}
h2,h1{
	text-align: center;
  //border:1px solid red;
	margin:5px;
}
.content_box{
	width:60%;
	font-size:1.4em;
	min-height: 8cm;
	padding:15px;
	float:left;
  //border:1px solid red;
}
.img_box{
  align-content: center;
	width:9cm;
	max-width: 30%;
	height: auto;
	float:left;
	margin-left:20px;
	//border:1px solid red;
}
img{
  width:100%;
}
button{
	padding:10px;
	font-size:1em;
	border-radius: 20px;
	color:white;
	background-color: #359dfc;
}
input{
  font-size:0.9em;
  height: 0.8cm;
  width: 80%;
  max-width: 8cm;
  margin:3px;
  border-radius: 30px;
  border:none;
  padding-left: 0.3cm;
  box-shadow:1px 1px 10px grey inset;
}